@charset "UTF-8";
.talk{
  background-color: $dust;
  border: 10px solid $mine;
  &:hover{
      background-color: $white;
      text-decoration: none;
      img{
        filter: contrast(120%);
      }
  }
  .photo{
    img{
      transition: all 0.1s linear;
      max-height: 360px;
      width: 100%;
      object-position: center center;
      object-fit: cover;
    }
  }
  .content{
    padding: 0.5em;
    *{
      margin: 0;
      padding: 0;
    }
  }



  @media only screen and (max-width: $screen-xs) {
    display: flex;
    flex-wrap: wrap;
    .photo{
      flex-basis: 50%;
    }
    .btn{
      flex-basis: 100%;
      order:2;
    }
    .content{
      flex-basis: 50%;
    }
  }
}
