/*doc
---
title: Narrow
name: a-landing
category: Layout - Landing
---

A narrower container for 1 column page

```html_example
<div class="container container-narrow isolate">
    <p>
       My content
    </p>
</div>
```
 */
@media (min-width: 768px) {
  .container-narrow {
    max-width: 730px;
  }
}
.isolate{
    margin-top: 20px;
    margin-bottom: 20px;
}
.super-isolate{
    padding-top: 40px;
    padding-bottom: 40px;
}

/*doc
---
title: Banner
name: a-landing
category: Layout - Landing
---

A banner with photo, background: cover

```html_example
<div class="container container-narrow isolate banner banner-dark banner-main">
    <p>
       My content
    </p>
</div>
```
 */
 .banner{
    background: $gray-darker url('../img/unil_bg.jpg') 50% 50%;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 30px;
    &:hover{
      text-decoration: none;
    }
 }
 .banner-main{
    border-bottom: 5px solid $brand-primary;
    &:hover{
      border-bottom-color: lighten($brand-primary,6%);
    }
 }
 .banner-dark{
    color: $gray-lighter;
 }