/*doc
---
title: Narrow
name: a-landing
category: Layout - Landing
---

A narrower container for 1 column page

```html_example
<div class="container container-narrow isolate">
    <p>
       My content
    </p>
</div>
```
 */
@media (min-width: 768px) {
  .container-narrow {
    max-width: 730px;
  }
}
.isolate{
    margin-top: 20px;
    margin-bottom: 20px;
}
.super-isolate{
    padding-top: 20px;
    padding-bottom: 20px;
}
.unisolate-top{
  margin-top: 0;
}
.unisolate-bottom{
  margin-bottom: 0;
}
