/*doc
---
title: Usage of Mediacard for Speaker
name: a-speaker
category: Layout - Speaker
---

Speaker cards with neat hover effect

```html_example
<div class="row">
    <div class="col-sm-4 col-xs-6">
        <a class="mediacard" href="#">
            <div class="shadow-left">
                <div class="shadow-right">
                    <div class="mediacard-photo">
                        <img src="img/speaker.jpg" width="100%"/>
                    </div>
                      <div class="btn btn-default btn-block btn-mediacard">
                        <span class="has-not-video-button">
                          More about this talk
                        </span>
                        <span class="has-video-button">
                          Watch
                        </span>
                      </div>
                    <h4>Speaker name</h4>
                    <p>Something special about this guy ?</p>
                </div>
            </div>
        </a>
    </div>
</div>
```

On a gray background

```html_example
<div class="well">
    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <a class="mediacard" href="#">
                <div class="shadow-left">
                    <div class="shadow-right">
                        <div class="mediacard-photo">
                            <img src="img/speaker.jpg" width="100%"/>
                        </div>
                        <div class="btn btn-default btn-block btn-mediacard">Watch the talk</div>
                        <h4>Speaker name</h4>
                        <p>Something special about this guy ?</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-xs-6">
            <a class="mediacard" href="#">
                <div class="shadow-left">
                    <div class="shadow-right">
                        <div class="mediacard-photo">
                            <img src="img/speaker.jpg" width="100%"/>
                        </div>
                        <div class="btn btn-default btn-block btn-mediacard">Watch the talk</div>
                        <h4>Speaker name</h4>
                        <p>Something special about this guy ?</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-xs-6">
            <a class="mediacard" href="#">
                <div class="shadow-left">
                    <div class="shadow-right">
                        <div class="mediacard-photo">
                            <img src="img/speaker.jpg" width="100%"/>
                        </div>
                        <div class="btn btn-default btn-block btn-mediacard">Watch the talk</div>
                        <h4>Speaker name</h4>
                        <p>Something special about this guy ?</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
```
 */
 .mediacard{
    display: block;
    position: relative;
    color: $text-color;
    padding-bottom: 10px;
    margin-bottom: 30px;
    transition: all 0.4s ease;
    background-color: rgba(255,255,255,0);
    .mediacard-photo{
        transition: all 0.4s ease;
        shape-inside: polygon(4% 4%,  96% 4%, 96% 100%, 4% 100%);
        -webkit-clip-path: polygon(4% 4%,  96% 4%, 96% 100%, 4% 100%);
        img{
            width: 100%;
            height: auto;
        }
    }
    &:hover,
    &:focus{
        background-color: rgba(255,255,255,1);
        color: $text-color;
        text-decoration: none;
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.1);
        .mediacard-photo{
            shape-inside: polygon(0 0,  100% 0, 100% 100%, 0 100%);
            -webkit-clip-path: polygon(0 0,  100% 0, 100% 100%, 0 100%);
            -webkit-filter: brightness(1.05) contrast(1.05);
        }
        .btn-mediacard{
            background-color: rgba(0,0,0,0.5);
            background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
        }
    }
    h4{
        margin-bottom: 4px;
    }
    h4, p{
        margin-left: 4%;
        margin-right: 4%;
    }
    .btn-mediacard{
        transition: all 0.4s ease-in-out;
        position: absolute;
        background-color: rgba(0,0,0,0.8);
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.55) 50%,rgba(0,0,0,0) 100%);
        color: $body-bg;
        margin-top: -2.1em;
    }

}
// Managing has or has not a video
.has-not-video-button{
    display: inline;
}
.has-video-button{
    display: none;
}
.has-video{
    .has-not-video-button{
        display: none;
    }
    .has-video-button{
        display: inline;
    }
}

/*==================================================
 * Glow effect with box-shadow
 * ===============================================*/
 .shadow-right:after, .shadow-left:after{
    content:"";
    position:absolute;
    opacity: 0;
    transition: all 0.4s ease;
    top: 5%;
    width:6%;
    height:100%;
    background:-webkit-radial-gradient(50% 50%, ellipse cover, rgba(00, 00, 00, 0.1), rgba(97, 97, 97, 0.0) 60%);
    background:radial-gradient(ellipse at 50% 50%, rgba(00, 00, 00, 0.1), rgba(97, 97, 97, 0.0) 60%);
}
.shadow-right:after{
    left: 94%;
}
.shadow-left:after{
    right: 94%;
}
.shadow-right:hover:after, .shadow-left:hover:after{
  opacity: 1;
}
.shadow-right:hover:after{
   left:98%
}
.shadow-left:hover:after{
  right:98%
}