---
notes: |
  ##### Usage : `{{> talk }}`
  ##### Options :
  - **option** - Type
---
<a href="#" class="talk has-video">
  <div class="photo">
    <img typeof="foaf:Image" src="http://www.tedxlausanne.com/sites/default/files/styles/large/public/Alisee%20de%20Tonnac.png?itok=L2-NVykj" alt="">
  </div>
  <div class="btn btn-primary btn-block">
    <span class="has-not-video-button">
      More about this talk
    </span>
    <span class="has-video-button">
      Watch
    </span>
  </div>
  <div class="content">
    <h4>Alisée de Tonnac </h4>
    <p>Talents are everywhere</p>
  </div>
</a>
